/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 22.83px;
    background: var(--cor-de-fundo);
}
ol, ul,li {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--cor-de-link);
}

.box{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    width: 16.6%;
    height: 120px;
    margin-right: 1rem;
}

.box:last-child{
    margin-right: 0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 0;
    margin-block: 0;
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}


/*Sessão Title*/

section.title{
    margin: 0.5rem 1.5rem;
}

/*Sessão About*/

section.about{
    background: #EAF2FD;
    height: 370px;
}

/*Sessão Hobbies*/

section.hobbies{
    
}

/* Experiência Acadêmica*/

section.academic{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 100%;
    background: #EAF2FD;
    height: 409px;

}

/* experiência*/

section.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1.5rem;
}

/*Contato*/

section.formcontato{
   
}

/*footeer*/

section.footer{
    background-color: var(--cor-branco);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media screen and (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media screen and (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}